# Practical No.6: Write a Pandas program to implement following operation

### • to convert a NumPy array to a Pandas series

In [ ]:
# Name : - Archit B Shah
# Enrollement No: - 216270307007

import pandas as pd
import numpy as np

s = pd.Series();
print("Pandas Series : - ",s)
d = np.array(['A', 'r', 'c', 'h', 'i','t']) 
s = pd.Series(d)
print("Pandas Series:\n",s)

### • to convert the first column of a DataFrame as a Series

In [ ]:
# Name : - Archit B Shah
# Enrollement No: - 216270307007
import pandas as pd 
dframe = pd.DataFrame() 
print(dframe)
lst = ['Archit', 'B', 'Shah'] 
dframe = pd.DataFrame(lst) 
print("Dataframe")
print(dframe)

### • to create the mean and standard deviation of the data of a given Series

In [ ]:
# Name :- Archit B Shah
# Enrollement No : - 216270307007

import numpy as np
import pandas as pd
s = pd.Series(data=[9,6,6,4,8,6,9,4,0,5])
print("Original Series : - ",s)
a = s.mean();
print("Mean Elements : - ",a)

b = s.std();
print("Standard Elements : - ",b)

### • to sort a given Series

In [ ]:
# Name : - Archit B Shah
# Enrollement No : - 216270307007

import pandas as pd
str = pd.Series([9.5, 16.8, 22.78, 20.124, 18.1002])

print(str)

a = str.sort_values(ascending=True)
print(a)