# Practical No.7: Write a Pandas program to implement following operation

### • to create a dataframe from a dictionary and display it

In [ ]:
import pandas as pd
detail = {
 'Name' : ['Ankit', 'Archit', 'Khush', 'Shiva'],
 'Age' : [23, 21, 22, 21],
 'University' : ['BHU', 'GTU', 'DU', 'GTU'],
}
df = pd.DataFrame(detail)
print(df)

### • to sort the DataFrame first by 'name' in ascending order

In [ ]:
import pandas as pd
data = {'Id': [1,2,3,4,5],'Name': ['Adam','Michael','David','Jack','Peter']}
df = pd.DataFrame(data)
print("Before sorting:\n", df)
print("After sorting:\n", df.sort_values(by='Name',ascending=False))

### • to delete the one specific column from the DataFrame

In [ ]:
import pandas as pd
data = {
 'A': ['A1', 'A2', 'A3', 'A4', 'A5'],
 'B': ['B1', 'B2', 'B3', 'B4', 'B5'],
 'C': ['C1', 'C2', 'C3', 'C4', 'C5'],
 'D': ['D1', 'D2', 'D3', 'D4', 'D5'],
 'E': ['E1', 'E2', 'E3', 'E4', 'E5']}
df = pd.DataFrame(data)
print(df.drop(['E'], axis=1))

### • to write a DataFrame to CSV file using tab separator

In [ ]:
import pandas as pd
import numpy as np
# creating a DataFrame
students = {'Student': ['Amit', 'Cody', 'Darren', 'Drew'], 'RollNumber': [1, 5, 10, 15],
 'Grade': ['A', 'C', 'F', 'B']}
df = pd.DataFrame(students, columns =['Student', 'RollNumber', 'Grade'])
print("Original DataFrame")
print(df)
df.to_csv('Students.csv', sep ='\t')
new_df = pd.read_csv('Students.csv')
print('Data from Students.csv:')
print(new_df)